import { Plugin } from "@k8sd/plugin-sdk";

import * as pkgJson from "../package.json";


export const plugin = (): Plugin => {
  return {
    name: pkgJson.name,
    description: pkgJson.description,
    version: pkgJson.version,

    detect() {
      return true;
    },

    install(context) {
      context.logger.log("Hello from <%= name %> plugin");
    }
  };
};
